<template>
  <el-container class="page-container">
    <el-dialog
      :title="'#' + channel"
      :visible.sync="usernameIsSetted"
      :show-close="false"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @opened="onOpenedDialog"
      :width="dialogWidth"
      center>
      <el-form ref="userForm" :model="userForm" :rules="rules" @submit.prevent.native>
        <el-form-item prop="username">
          <el-input
            ref="usernameInput"
            placeholder="Type your username"
            v-model="userForm.username"
            maxlength="12"
            @keyup.enter.native="onUserSubmit($event)">
          </el-input>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-drawer
      :visible.sync="chatVisible"
      direction="rtl"
      @opened="activeChat"
      @closed="disableChat"
      :size="drawerSize">
      <template slot="title">
        <strong>#{{channel}}</strong>
      </template>
      <chat :channel="this.channel" :user="this.user" v-bind:on="this.chatOn"/>
    </el-drawer>

    <el-main>
      <video-box bn></video-box>
    </el-main>
    <el-aside class="menu-icons">
      <el-row>
        <el-col>
          <el-badge :value="0" class="item">
            <el-button icon="el-icon-chat-line-square" circle @click="chatVisible = true"></el-button>
          </el-badge>
        </el-col>
      </el-row>
    </el-aside>
    </el-container>
</template>
<script>
import Chat from "./../components/Chat";
import VideoBox from "./../components/VideoBox";
import { platform } from './../mixins/platform'

import { STORE_ACTIONS, WS_EVENTS } from "./../utils/config";

export default {
  name: "channel",
  mixins: [platform],
  components: {
    'chat': Chat,
    'video-box': VideoBox
  },
  data() {
    return {
      channel: this.$route.params.channel,
      usernameIsSetted: false,
      chatVisible: false,
      chatOn: false,
      userForm: {
        username: undefined
      },
      rules: {
        username: [
          { required: true, message: 'Come on... you can do it!', trigger: 'blur' },
          { min: 2, max: 12, message: 'Length should be 3 to 12', trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    this.usernameIsSetted = this.user === undefined
  },
  sockets: {
    joined(user) {
      this.$store.dispatch(STORE_ACTIONS.addMessage, {
        type: 'joined',
        username: user.username
      })
    },
    disconnected(user) {
      this.$store.dispatch(STORE_ACTIONS.addMessage, {
        type: 'left',
        username: user.username
      })
    },
    newMessage(message) {
      this.chatVisible = true
      this.$store.dispatch(STORE_ACTIONS.addMessage, message)
    }
  },
  methods: {
    onUserSubmit() {
      this.$refs.userForm.validate((valid) => {
        if (valid) {
          this.$store.dispatch(STORE_ACTIONS.setUser, {
            username: this.userForm.username
          }).then(() => {
            this.usernameIsSetted = false
            this.$socket.emit(WS_EVENTS.joinRoom, {
              user: this.user,
              room: this.channel
            });
          });
        } else {
          return false;
        }
      });
    },
    onOpenedDialog() {
      this.$refs.usernameInput.focus()
    },
    activeChat() {
      this.chatOn = true
    },
    disableChat() {
      this.chatOn = false
    }
  },
  computed: {
    dialogWidth() {
      return this.isMobile() ? '90%' : '30%'
    },
    drawerSize() {
      return this.isMobile() ? '100%' : '60%'
    },
    user() {
      return this.$store.state.user
    }
  }
}
</script>
<style lang="scss" scoped>
.page-container {
  flex-direction: row;
  justify-content: flex-end;
}

aside.menu-icons {
  padding: 18px;
  // override width 300px
  width: fit-content !important;
}

.el-form-item__center {
  display: flex;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  &__content {
    display: flex;

    &__scrollable {
      width: 100vw; // means 100% of viewport
      height: 83vh;
      overflow-y: scroll;
    }
  }

  &__footer {
    padding-bottom: 2px;
  }
}

.chat-table {
  &__username {
    padding-left: 20px;
  }
  &__message {
    padding-left: 10px;
  }
}
.chat-writer {
  padding: 4px 10px
}
</style>
