<template>
  <div class="page-container">
    <h2>Pomelo</h2>
    <el-row>
      <el-col :xs="24">
        <el-input
          ref="channel"
          placeholder="channel"
          v-model="channel"
          maxlength="30"
          @keyup.enter.native="goToChannel">
          <template slot="prepend">#</template>
        </el-input>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {},
  data: function() {
    return {
      channel: undefined
    };
  },
  methods: {
    goToChannel() {
      this.$router.push(`${this.channel}`);
    }
  },
  mounted() {
    this.$refs.channel.focus()
  }
};
</script>

<style lang="scss" scoped>
.page-container {
  justify-content: center;
  align-items: center;
}
</style>
