<template>
  <div class="chat-container">
    <div class="chat-container__content">
      <div ref="scrollable" class="chat-container__content__scrollable">
        <el-table
          :data="messages"
          :show-header="false"
          class="chat-table">
          <el-table-column width="90">
            <template slot-scope="scope">
              <span>[{{ scope.row.time }}]</span>
            </template>
          </el-table-column>
          <el-table-column>
            <template slot-scope="scope">
              <em v-if="scope.row.type && scope.row.type === 'joined'">
                <i class="el-icon-right chat-table__message-icon"></i>
                <strong>{{ scope.row.username }}</strong>
                <span> joined the channel</span>
              </em>
              <em v-else-if="scope.row.type && scope.row.type === 'left'">
                <i class="el-icon-back chat-table__message-icon"></i>
                <strong>{{ scope.row.username }}</strong>
                <span> left the channel</span>
              </em>
              <div v-else>
                <strong>{{ scope.row.username }}:</strong>
                <span class="chat-table__message">{{ scope.row.content }}</span>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="chat-container__footer">
      <el-row class="chat-writer">
        <el-col>
          <el-input
            :placeholder="'Message #' + this.channel"
            ref="writer"
            v-model="message"
            @keyup.enter.native="send">
          </el-input>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import { WS_EVENTS } from "./../utils/config";

export default {
  name: "chat",
  props: {
    on: Boolean,
    channel: String,
    user: Object
  },
  components: {},
  data() {
    return {
      message: undefined
    }
  },
  watch: {
    on() {
      if (this.on) {
        this.$refs.writer.focus()
        // this.$refs.scrollable.scrollTop = this.$refs.scrollable.scrollHeight;
      }
    }
  },
  methods: {
    send() {
      this.$socket.emit(WS_EVENTS.publicMessage, {
        room: this.channel,
        message: {
          username: this.user.username,
          content: this.message
        }
      });
      this.message = ''
    }
  },
  computed: {
    messages() {
      return this.$store.state.messages
    }
  }
}
</script>
<style lang="scss">
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  &__content {
    display: flex;

    &__scrollable {
      width: 100vw;
      height: 80vh;
      overflow-y: scroll;
    }
  }

  &__footer {
    padding-bottom: 2px;
  }
}

.chat-table {
  padding: 10px 12px;
  td {
      vertical-align: top;
      border: none;
      padding-top: 6px;
      padding-bottom: 6px;
  }

  &__message-icon {
    padding-right: 10px;
  }

  &__message {
    padding-left: 10px;
  }
}

.chat-writer {
  padding: 4px 10px
}
</style>
