<template>
  <video ref="video" autoplay playsinline height="100%" width="100%" :class="style"></video>
</template>
<script>
export default {
  name: "video-box",
  props: {
    bn: Boolean
  },
  data() {
    return {
      stream: undefined,
      constraints: {
        audio: false,
        video: true
      }
    }
  },
  mounted() {
    this.initVideo()
  },
  methods: {
    initVideo() {
      navigator.mediaDevices.getUserMedia(this.constraints).then(stream => {
        const videoTracks = stream.getVideoTracks();
        console.log(`Using video device: ${videoTracks[0].label}`);
        this.stream = stream;
        this.$refs.video.srcObject = this.stream;
      }).catch(err => this.$emit('error', this.initErrorMessage(err)))
    },
    initErrorMessage(error) {
      let errorMessage = `getUserMedia error: ${error.name}`
      if (error.name === 'ConstraintNotSatisfiedError') {
        const v = this.constraints.video;
        errorMessage = `The resolution ${v.width.exact}x${v.height.exact} px is not supported by your device.`;
      } else if (error.name === 'PermissionDeniedError') {
        errorMessage = 'Permissions have not been granted to use your camera and ' +
          'microphone, you need to allow the page access to your devices in ' +
          'order for the demo to work.';
      }
      return errorMessage
    }
  },
  computed: {
    style() {
      return `filter__${this.bn ? 'grayscale' : 'none'}`
    }
  }
}
</script>
<style lang="scss" scoped>
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.filter {
  &__none {
    -webkit-filter: none;
    filter: none;
  }
  &__grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}
</style>
