<template>
  <div id="app">
    <div style="border: 1px solid #eee" class="main-cnt">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  overflow-y: hidden;

  .main-cnt {
    padding: 0;
    margin-top: 0;
    height: 100%;
    min-height: auto;
  }
}

#nav {
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
